{% extends "app/login_page.html" %}
{% block body_block %}

    <div class="jumbotron">

        <div class="container">

            <p>The Details of the patient are</p>

            <p>UID: {{detail.uid}}</p>

            <p>Name: {{detail.name}}</p>

            <p>Age : {{detail.age}}</p>

            <p>Gender:{{detail.gender}}</p>

            <p>Mobile Number : {{detail.mobile}}</p>

            <p>Area:{{detail.area}}</p>

            <p>Height:{{detail.height}}</p>

            <p>Weight:{{detail.weight}}</p>

            <p>BPI:{{detail.bpi}}</p>



        </div>

    </div>

<div class="container">
    <a class="btn btn-primary" href="{% url 'add_record' pk=detail.pk %}">Add New Record</a>
    <a class="btn btn-success" href="{% url 'list_record' pk=detail.pk %}">Records List</a>
    <a class="btn btn-warning" href="{% url 'record_delete' pk=detail.pk %}">Delete Record</a>
</div>

{% endblock %}